.moodal {
  /* Position the modal absolutely to fill the viewport */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Apply a dark overlay with some transparency */
  background-color: rgba(0, 0, 0, 0.5);

  /* Display the modal content with a centering effect */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* Define the modal window's size and style */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional drop shadow */
}
.close-btn{
  display: flex;
  justify-content: space-between;
}